{% extends "layout.html" %}

{% block title %}
    Buy shares
{% endblock %}

{% block main %}

    {% if shares and name and price %}
        <div class="mb-3">
            You have bought {{ shares }} shares of {{ name }} for {{ price | usd }}
        </div>
    {% endif %}

    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="quote" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" min="1" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy shares</button>
    </form>

{% endblock %}
