{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for row in shares %}
                <tr>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["name"] }}</td>
                    <td>{{ row["shares_count"] }}</td>
                    <td>{{ row["price"] | usd }}</td>
                    <td>{{ row["value"] | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    Cash
                </td>
                <td>{{ cash | usd }}</td>
            </tr>
            <tr>
                <td colspan="4">
                    Total
                </td>
                <td>{{ total | usd}}</td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
